/* Menu Styles */

.menu_container{
    width:15%;
    height: 100vh;
    background-color: #475B6B;
    padding-top: 20vh;
    float: left;
    position: fixed;
  }
  
  
  .button{
    padding: 10px 0;
    background-color: #2B4273;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
  }
  
  .button:hover{
    background-color: #4D76CC;
    color: #fff;
  }
  
  .buttom{
    margin-top: 10px;
  }
  