.photo-container_d{
    background-color: #3e8794;
    width: 100%;
    height: 100vh;
}

.button_d{
    display: block;
    width: 150px;
    padding:15px 0;
    background-color: #2B4273;
    color: #fff;
    margin: 10px auto 0 auto;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    border: none
  }

  .button_d:hover{
    text-decoration: none;
    color: #fff;
    background-color: #4D76CC;
  }